<div class="section-lp__wrapper section-lp__wrapper--wide">
    <div class="section-lp-story">
      <div class="profile">
        <h2 class="profile__title">
          私たち HOLICC について
        </h2>
        <div class="profile__description">
          <div class="profile__description__img">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/pxl_20221228_074936908.mp_4_1.jpg?v=1678159368" alt="HOLICC">
          </div>
          <div class="profile__description__txt">
            旅も仕事も遊びも人生をかけて楽しみたい。<br>
            そんな私たちが大事にしているのは、旅と仕事の境目のない生き方。<br><br>
            私たちと同じように、常識に囚われずに自分らしく道を切り拓こうとする人をエンパワーメントしたい。<br>そんな思いから、本気で働き旅する大人のためのブランド「HOLICC」を立ち上げ、同じような思いを持つ仲間の生き方をアシストするものづくりをはじめることになりました。
          </div>
        </div>
        <div class="section-lp-ds" style="display:none;">
          <div class="section-lp-ds__header">
            HOLICCは直接販売だから<br class="hide_pc"><span class="section-lp-ds__header-emphasis">リーズナブル</span>
          </div>
          <div class="section-lp-ds__main">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0474/9662/6339/files/301852313_1761366400868208_7806946319643858023_n.png?v=1667221760" alt="HOLICCは直接販売だからリーズナブル">
            <p class="section-lp-ds__main-text">私たちは、中間業者を挟まず、商品の品質を高める以外にかかるコストを極限までカットすることで、お求めになりやすい価格で高品質なものをお届けしています。</p>
          </div>
        </div>
        <div class="profile__btn">
          <a href="https://holicc.jp/pages/value" target="_blank">
            <span>「HOLICC」について知る</span>
          </a>
        </div>
      </div>
  </div>
</div>


<style>
.section-lp-ds{
  line-height: 1.8;
  max-width: 640px;
  margin: 0 auto;
}
.section-lp-ds__header{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .1em;
    margin-bottom: 30px;
    text-align: center;
}
.section-lp-ds__header-emphasis{
  font-size: 22px;
  display: inline-block;
  text-decoration-color: #e9e0ce !important;
  text-decoration: underline;
  text-decoration-thickness: 15px;
  text-underline-offset: -8px;
}
.section-lp-ds__main{
    text-align: center;
}
.section-lp-ds__main img{
  max-width: 100%;
}
p.section-lp-ds__main-text{
    font-size: 14px;
    margin: 30px 0 30px;
    text-align: left;
}
@media screen and (min-width: 769px){
  .section-lp-ds__header{
    font-size: 26px;
  }
  .section-lp-ds__header-emphasis{
    font-size: 36px;
  }
  p.section-lp-ds__main-text{
    font-size: 18px;
    margin: 30px 0 90px;
  }
}

@media (max-width: 768px) {
  .section-lp-story .profile .profile__btn a {
    padding: 3vw;
    font-size: 3vw;
  }

  .profile__btn a span{
    font-size: 12px;
  }
}


</style>
