<div class="social-share-box">
  <div class="social-share-box__image">
    <img src="https://cdn.shopify.com/s/files/1/0474/9662/6339/products/packbag-top-a_900x.jpg?v=1625128953">
  </div>
  <div class="social-share-box__content">
    <div class="social-share-box__title">
      商品名
    </div>
    <div class="social-share-box__price">
      価格
    </div>
    <div class="social-btn-links">
      <a href="http://www.facebook.com/share.php?u=https://holicc.jp/products/packbag" class="social-btn-links__btn facebook" target="_blank">Facebook</a>
      <a href="https://twitter.com/intent/tweet?text=HOLICCというブランドで、圧縮バッグ×ショルダーバッグの「PackBag」を買いました！この商品です↓&via=holicc_jp&url=https://holicc.jp/products/packbag" class="social-btn-links__btn twitter" target="_blank">Twitter</a>
      <a href="http://line.me/R/msg/text/?HOLICCというブランドで、圧縮バッグ×ショルダーバッグの「PackBag」を買いました！この商品です↓https://holicc.jp/products/packbag" class="social-btn-links__btn line" target="_blank">LINE</a>
    </div>
  </div>
</div>

<div class="globo-formbuilder" data-id="OTk1NDE="></div>

<style>
.social-share-box{
  display: flex;
  width: 100%;
}
.social-share-box__image{
}
.social-share-box__image img{
  max-width: 200px;
}
.social-share-box__content{
  padding: 0 0 0 10px;
  width: 100%;
}
.social-share-box__title{
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 10px;
}
.social-share-box__price{
  
}
.social-btn-links{
  display: flex;
  flex-wrap: wrap;
  gap: 10px 5px;
  margin: 10px 0 0;
}
.social-btn-links a:hover{
  opacity: 1;
}
.social-btn-links__btn {
  display: block;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  min-width: 120px;
}
.social-btn-links .facebook {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1B3D82;
}
.social-btn-links  .twitter {
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;
}
.social-btn-links .line{
  background-color: #06c755;
  box-shadow: 0 4px 0 #1daf1b;
}
</style>