<div class="page-width">
  <header class="section-header text-center">
    <h1 class="section-header__title h2">{{ page.title }}</h1>
  </header>
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="rte">
        お問い合わせを受け付けました！
        2営業日以内にご返信させていただきます。
        少々お待ちくださいませ。
        どうぞよろしくお願いします。
      </div>
    </div>
  </div>
</div>
